* {
	font-size: 18px;
	font-family: "RobotoMono Nerd Font";
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
    /* background: rgba(43, 48, 59, 0.5); */
    background: transparent;
    color: white;
}

#workspaces button.focused {
    /* background-color: #c79af4; */
    /* color: #000000; */
    /* border-bottom: 2px solid #ff5fff; */
    border-top: 2px solid #ff5fff;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
    color: #fff;
}

#custom-vpn {
	color: #ff69b4;
}

#custom-email-personal {
	color: #afeeee;
}

#custom-email-work {
	color: #ff69b4;
}

