* {
  font-size: 18px;
  font-family: "JetBrains Mono Bold Nerd Font Complete";
  border: none;
  border-radius: 0;
  min-height: 0px;
}

window#waybar {
  background: transparent;
  padding: 0;
  margin: 0;
}

#workspaces button.focused {
  border-top: 1px solid #ff5fff;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#custom-vpn {
  color: #ff5fff;
}

#custom-email-personal {
  color: #afeeee;
}

#custom-email-work {
  color: #ff69b4;
}

#clock {
  font-weight: bolder;
}

#custom-agenda {
    color: #dcf0f1;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-email-personal,
#custom-email-work,
#custom-github_notifications,
#custom-media,
#custom-power,
#custom-vpn,
#custom-space,
#custom-weather,
#custom-mynetwork,
#custom-arch_updates,
#mpd {
  padding: 0 2px;
}
