* {
	font-size: 18px;
	font-family: RobotoMono Nerd Font;
    border: none;
    border-radius: 0;
    min-height: 0;    
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces  {
    /* padding-left: 1px; */
    /* padding-right: 1px; */
    /* border-bottom: 1px solid; */
}


#workspaces button.focused {
    background-color: #c79af4;
    color: #000000;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
    color: #fff;
}

#custom-vpn {
	color: #ff69b4;
}

#custom-email-personal {
	color: #afeeee;
}

#custom-email-work {
	color: #fffacd;
}

