* {
	font-size: 20px;
	font-family: RobotoMono Nerd Font;
    border: none;
    border-radius: 0;
    min-height: 0;    
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background-color: #c79af4;
    color: #000000;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
    color: #fff;
}

/* #custom-space { */
/* 	color: #292b2e; */
/* 	background: #1a1a1a; */
/* } */

