[Unit]
Description=Actions gestures on your touchpad using libinput
Documentation=https://github.com/bulletmark/libinput-gestures
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/chmouel/.config/gestures/wrapper.sh

[Install]
WantedBy=graphical-session.target
